[mcu toolboard_t0]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_52001F000450315741363420-if00
restart_method: command

[board_pins toolboard_t0]
mcu: toolboard_t0
aliases:
	#------------------------------------------- EXTRUDER motor pins --------------------------------------------
	e_step_pin=PB14,
	e_dir_pin=PA8,
	e_enable_pin=PB6,
	e_uart_pin=PB3,
	#----------------------------------------------- GENERAL PINS -----------------------------------------------
	e_heater_pin=PB4,
	e_sensor_pin=PA3,
	stepper_spi_mosi_pin=PB11,
	stepper_spi_miso_pin=PB2,
	stepper_spi_sclk_pin=PB10,
	cs_pin=PB1,
	bltouch_sensor_pin=PB8,
	bltouch_control_pin=PB5,
    endstop_pin=PA15,
    diag_pin=PD1,
	probe_pin=PB9,
	fan_part_cooling_pin=PD3,
	fan_toolhead_cooling_pin=PA5,
    neopixel_pin=PC7,
    rled_pin=PA2,
	3p_fan_pin=PA4,
    temperature_sensor_pin=PA0

[temperature_sensor EBB36_V2]
sensor_type: Generic 3950
sensor_pin: toolboard_t0:temperature_sensor_pin
pullup_resistor: 2200

[lis2dw]
cs_pin: toolboard_t0:cs_pin
spi_bus:spi2_PB2_PB11_PB10
axes_map: x,y,z