[mcu]
serial:  /dev/serial/by-id/usb-Klipper_stm32h723xx_380038000C51313236343430-if00
restart_method: command

[board_pins btt-octopus-max-ez]
aliases:
	#----------------------------------------------- X motor pins -----------------------------------------------
	# Assigned to slot: "MOTOR 1" (moved from Motor 4 to free PF3 for CPAP fan)
	#------------------------------------------------------------------------------------------------------------
	x_step_pin=PC13,
	x_dir_pin=PC14,
	x_enable_pin=PE6,
	x_uart_pin=PG14,
	x_diag_pin=PF0,
	x_endstop_pin=PF0,
	#----------------------------------------------- Y motor pins -----------------------------------------------
	# Assigned to slot: "MOTOR 2"
	#------------------------------------------------------------------------------------------------------------
	y_step_pin=PE4,
	y_dir_pin=PE5,
	y_enable_pin=PE3,
	y_uart_pin=PG13,
	y_diag_pin=PF2,
	y_endstop_pin=PF2,
	#----------------------------------------------- Z motor pins -----------------------------------------------
	# Assigned to slot: "MOTOR 5"
	#------------------------------------------------------------------------------------------------------------
	z0_step_pin=PB5,
	z0_dir_pin=PB4,
	z0_enable_pin=PB6,
	z0_uart_pin=PG10,
	z0_diag_pin=PF1,
	#---------------------------------------------- Z1 motor pins -----------------------------------------------
	# Assigned to slot: "MOTOR 6"
	#------------------------------------------------------------------------------------------------------------
	z1_step_pin=PG15,
	z1_dir_pin=PB3,
	z1_enable_pin=PD5,
	z1_uart_pin=PG9,
	z1_diag_pin=PC15,
	#---------------------------------------------- Z2 motor pins -----------------------------------------------
	# Assigned to slot: "MOTOR 7"
	#------------------------------------------------------------------------------------------------------------
	z2_step_pin=PD3,
	z2_dir_pin=PD2,
	z2_enable_pin=PD4,
	z2_uart_pin=PD7,
	#------------------------------------------- EXTRUDER motor pins --------------------------------------------
	# Assigned to slot: "MOTOR 3"
	#------------------------------------------------------------------------------------------------------------
	e_step_pin=PE1,
	e_dir_pin=PE0,
	e_enable_pin=PE2,
	e_uart_pin=PG12,
	e_diag_pin=PF4,
	#---------------------------------------------- Y1 motor pins (AWD) ----------------------------------------
	# Assigned to slot: "MOTOR 9"
	#------------------------------------------------------------------------------------------------------------
	y1_step_pin=PA8,
	y1_dir_pin=PC7,
	y1_enable_pin=PC9,
	y1_uart_pin=PG8,
	#---------------------------------------------- X1 motor pins (AWD) ----------------------------------------
	# Assigned to slot: "MOTOR 10"
	#------------------------------------------------------------------------------------------------------------
	x1_step_pin=PG6,
	x1_dir_pin=PC6,
	x1_enable_pin=PC8,
	x1_uart_pin=PG7,
	#----------------------------------------------- GENERAL PINS -----------------------------------------------
	e_heater_pin=PF6,
	e_sensor_pin=PB0,
	stepper_spi_mosi_pin=PE14,
	stepper_spi_miso_pin=PE13,
	stepper_spi_sclk_pin=PE12,
	adxl345_cs_pin=PF14,
	bltouch_sensor_pin=PB15,
	bltouch_control_pin=PB14,
	probe_pin=PB15,
	fan_part_cooling_pin=PA6,
	fan_toolhead_cooling_pin=PA5,
	fan_controller_board_pin=PA4,
	heater_bed_heating_pin=PF5,
	heater_bed_sensor_pin=PB1,
	4p_fan_part_cooling_pin=PA1,
	4p_fan_part_cooling_tach_pin=PC3,
	4p_toolhead_cooling_pin=PF8,
	4p_toolhead_cooling_tach_pin=PC1,
	4p_controller_board_pin=PA2,
	4p_controller_board_tach_pin=PC2

[temperature_sensor Octopus_Max_EZ_V1.0]
sensor_type: temperature_mcu