# This file contains pin mappings for the LDO Rethonance Hub

# See http://docs.ldomotors.com/toolboard/rethonance#firmware-setup-and-update
# For instructions on uploading/updating klipper firmware to the onboard mcu

# Klipper make menuconfig options:
# Processor model: STM32G0B1
# Bootloader offset (for Katapult): 8KiB bootloader
# Clock Reference: 12Mhz crystal
# Communication interface: USB (on PA11/PA12)

[mcu rth]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial:/dev/serial/by-path/usb-Klipper_STM32_E012345678900000-if00
restart_method: command
is_non_critical: true
##--------------------------------------------------------------------

[temperature_sensor rth]
sensor_type:temperature_host
max_temp:80

#####################################################################
#   ADXL Thermister Definition
#####################################################################
[thermistor NCU15WF104D60RC]
temperature1: 25
resistance1: 100000
beta: 4250

#####################################################################
#   Accelerometer Port 1
#####################################################################
[adxl345 rethonance_accel1]
cs_pin: rth:PA1
spi_bus: spi1_PA6_PA7_PA5
  
[temperature_sensor rethonance_accel1_th]
sensor_type: NCU15WF104D60RC
sensor_pin: rth:PB0
pullup_resistor: 2200
min_temp: 0
max_temp: 35 #keep temperature low as heat from nozzle will take time to reach adxl345

#####################################################################
#   Accelerometer Port 2
#####################################################################
# [adxl345 accel2]
# cs_pin: rth:PB13
# spi_bus: spi2_PB2_PB11_PB10

# [temperature_sensor accel2_th]
# sensor_type: NCU15WF104D60RC
# sensor_pin: rth:PB12
# pullup_resistor: 2200
# min_temp: 0
# max_temp: 35 #keep temperature low as heat from nozzle will take time to reach adxl345

#####################################################################
#   Thermistor Ports
#####################################################################
# [temperature_sensor rth_th1]
# sensor_type: <Add your thermister here>
# sensor_pin: rth:PA4
# pullup_resistor: 2200
# min_temp: 0
# max_temp: 200

# [temperature_sensor rth_th2]
# sensor_type: <Add your thermister here>
# sensor_pin: rth:PA0
# pullup_resistor: 2200
# min_temp: 0
# max_temp: 200

# [temperature_sensor rth_th3]
# sensor_type: <Add your thermister here>
# sensor_pin: rth:PA2
# pullup_resistor: 2200
# min_temp: 0
# max_temp: 200
 
# [temperature_sensor rth_th4]
# sensor_type: <Add your thermister here>
# sensor_pin: rth:PA3
# pullup_resistor: 2200
# min_temp: 0
# max_temp: 200

#####################################################################
#   SPI Port - add any other SPI device
#####################################################################
# [adxl345 another_spi_device]
# cs_pin: rth:PA6
# spi_software_sclk_pin: rth:PB3
# spi_software_mosi_pin: rth:PB5
# spi_software_miso_pin: rth:PB4

#####################################################################
#   GPIO Port
#####################################################################
#GPIO pin - free GPIO pins. Share what you do with them
# 5V               GND
# 3.3V             GND
# unicorn:PB8      unicorn:PB9
# unicorn:PD1      unicorn:PB7
# unicorn:PD3      unicorn:PD2
# unicorn:PC14     unicorn:PC13
# <not used>       unicorn:PC15
# unicorn:PC7      unicorn:PA10
# unicorn:PA9      unicorn:PC6
# unicorn:PB15     unicorn:PA8