[include /home/pi/printer_data/config/custom/vcore3/steppers.cfg]
[include /home/pi/printer_data/config/custom/vcore3/awd/awd.cfg]
[include /home/pi/printer_data/config/custom/vcore3/z-tilt.cfg]

[heater_bed]
heater_pin: heater_bed_heating_pin
sensor_pin: heater_bed_sensor_pin
sensor_type: Generic 3950
min_temp: 0
max_temp: 140
pwm_cycle_time: 0.02088 # 50hz for european AC, to avoid flickering lights.

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 1500
minimum_cruise_ratio: 0.5
max_z_velocity: 15
max_z_accel: 20

[controller_fan controller_fan]
pin: PD8

[duplicate_pin_override]
pins: therm_1, therm_2, therm_3

[resonance_tester]
#accel_chip_x: adxl345 toolboard_t0
#accel_chip_y: adxl345 toolboard_t0
accel_chip_x: beacon
accel_chip_y: beacon
probe_points: 150, 150, 20
accel_per_hz: 100
sweeping_accel: 400
sweeping_period: 0

[extruder]
heater_pin: e_heater_pin
sensor_pin: e_sensor_pin
step_pin: e_step_pin
