[include /home/pi/printer_data/config/custom/vcore3/steppers.cfg]
[include /home/pi/printer_data/config/custom/vcore3/sensorless-homing-x.cfg]
[include /home/pi/printer_data/config/custom/vcore3/awd/awd.cfg]
[include /home/pi/printer_data/config/custom/vcore3/z-tilt.cfg]

[heater_bed]
heater_pin: heater_bed_heating_pin
sensor_pin: heater_bed_sensor_pin
sensor_type: Generic 3950
min_temp: 0
max_temp: 140
pwm_cycle_time: 0.02088 # 50hz for european AC, to avoid flickering lights.

[printer]
kinematics: corexy

# controller_fan is defined in custom/fans/controller_fans.cfg (PA2 via 4p_controller_board_pin)

[duplicate_pin_override]
pins: PB0

[resonance_tester]
accel_chip_x: lis2dw
accel_chip_y: lis2dw
#accel_chips: beacon
probe_points: 150, 150, 20
accel_per_hz: 100
sweeping_accel: 400
sweeping_period: 0

# EBB36 Gen2
### hotend
[extruder]
heater_pin: toolboard_t0:e_heater_pin
pullup_resistor: 2200
sensor_pin: toolboard_t0:e_sensor_pin

### extruder
[extruder]
step_pin: toolboard_t0:e_step_pin
dir_pin: toolboard_t0:e_dir_pin
enable_pin: !toolboard_t0:e_enable_pin