###########################################################################
# Optional Happy Hare supporting macros
#
# These are simple, but working, example PAUSE / RESUME / CANCEL_PRINT macros
# that use the parking logic defined in 'mmu_sequence.cfg'
#
# You can also use your existing set
#