[gcode_macro DEPLOY_NOZZLE_CLEANER]
gcode:
   RESPOND MSG="Deploying nozzle cleaner"
   SET_SERVO SERVO=servo_wiper ANGLE={printer["gcode_macro CustomVariables"].nozzle_wiper_deployed_angle}
   SET_GCODE_VARIABLE MACRO=CustomVariables VARIABLE=nozzle_wiper_state VALUE='"deployed"'
   G4 S2


[gcode_macro STOW_NOZZLE_CLEANER] 
gcode:
   RESPOND MSG="Stowing nozzle cleaner"
   SET_SERVO SERVO=servo_wiper ANGLE={printer["gcode_macro CustomVariables"].nozzle_wiper_stowed_angle}
   SET_GCODE_VARIABLE MACRO=CustomVariables VARIABLE=nozzle_wiper_state VALUE='"stowed"'
   G4 S2


[gcode_macro CLEAN_NOZZLE]
gcode:
   SAVE_GCODE_STATE NAME=nozzle_clean_state
   RESPOND MSG="Start Wiping macro"
   MAYBE_HOME
   
  {% if printer.idle_timeout.state != "Printing" %}
    RESPOND MSG="Heating extruder to 200"
    M104 S200
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM=200 MAXIMUM=270
  {% endif %}


   RESPOND MSG="Moving to 30mm for servo clearance"
   G90           
   G0 Z30   
   DEPLOY_NOZZLE_CLEANER

   G0 X285 Y240 F15000
   G90
   RESPOND MSG="Starting nozzle cleaning!"
   G0 Y250 F20000
   G0 Y280 F10000
   G0 Y250 F20000
   G0 Y280 F10000
   G0 Y250 F20000
   G0 Y280 F10000

   G0 X282 F10000

   G0 Y250 F20000
   G0 Y280 F10000
   G0 Y250 F20000
   G0 Y280 F10000
   G0 Y250 F20000
   G0 Y280 F10000

   G0 X288 F10000

   G0 Y250 F20000
   G0 Y280 F10000
   G0 Y250 F20000
   G0 Y280 F10000
   G0 Y250 F20000
   G0 Y280 F10000

   # Move to the side 
   G0 X246 Y250
   STOW_NOZZLE_CLEANER
   RESPOND MSG="Nozzle cleaning done"
   G92 E0
   
   RESPOND MSG="Moving bed to 2mm from toolhead"
   G0 Z2

   {% if printer.idle_timeout.state != "Printing" %}
   RESPOND MSG="Turning off hotend"
   M104 S0
   {% endif %}
   
   RESTORE_GCODE_STATE NAME=nozzle_clean_state MOVE=1 MOVE_SPEED={printer["gcode_macro RatOS"].macro_travel_speed|float}


[delayed_gcode wiper]
initial_duration: 1
gcode:
   SET_SERVO SERVO=servo_wiper ANGLE=165