# From https://ellis3dp.com/Print-Tuning-Guide/articles/useful_macros/parking.html

[gcode_macro PICK_PARK_LOCATION]
gcode:
  {% set vars = printer["gcode_macro _PRINTER_VARS"] %}
  {% set park_location = vars.park_location | string | lower %}
  RESPOND MSG="Picking Park location..."
    {% if park_location == "front" %}
        PARK_FRONT
    {% elif park_location == "center" %}
        PARK_CENTER
    {% elif park_location == "back" or park_location == "rear" %}
        PARK_REAR
    {% else %}
        RESPOND MSG="Bad park_location passed ({park_location}), parking in front..."
        PARK_FRONT
    {% endif %}

# Shared park logic: z-hop then move to given XY
[gcode_macro _PARK_BASE]
gcode:
    {% set vars = printer["gcode_macro _PRINTER_VARS"] %}
    {% set travel_feedrate = (vars.travel_speed * 60)|int %}
    {% set z_feedrate = (vars.z_travel_speed * 60)|int %}
    {% set z_hop = vars.z_hop_height|int %}
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set current_z = printer.toolhead.position.z|float %}

    {% if current_z < (max_z - z_hop) %}
        {% set z_safe = z_hop %}
    {% else %}
        {% set z_safe = max_z - current_z %}
    {% endif %}

    MAYBE_HOME

    SAVE_GCODE_STATE NAME=PARK_STATE
    G91
    G0 Z{z_safe} F{z_feedrate}
    G90
    G0 X{params.X} Y{params.Y} F{travel_feedrate}
    RESTORE_GCODE_STATE NAME=PARK_STATE

[gcode_macro PARK_FRONT]
gcode:
    _PARK_BASE X={printer.toolhead.axis_maximum.x/2} Y={printer.toolhead.axis_minimum.y+5}

[gcode_macro PARK_CENTER]
gcode:
    _PARK_BASE X={(printer.toolhead.axis_minimum.x + printer.toolhead.axis_maximum.x)/2.0} Y={(printer.toolhead.axis_minimum.y + printer.toolhead.axis_maximum.y)/2.0}

[gcode_macro PARK_REAR]
gcode:
    _PARK_BASE X={printer.toolhead.axis_minimum.x+10} Y={printer.toolhead.axis_maximum.y-10}
