[printer]
max_velocity: 800
max_accel: 60000
max_x_accel: 60000
max_y_accel: 60000
scale_xy_accel: True
minimum_cruise_ratio: 0.5
max_z_velocity: 20
max_z_accel: 150
square_corner_velocity: 10


# JULY 23 2026
# AUTO SPEED found maximum velocity after 137.03s
# | DIAG X max: 2782
# | DIAG Y max: 2163
# 
# Recommended values
# | DIAG X max: 2226
# | DIAG Y max: 1730
# Recommended velocity: 1730
# AUTO SPEED found recommended acceleration and velocity after 253.81s
# | DIAG X max: a78350 v2226
# | DIAG Y max: a78350 v1730
# Recommended accel: 78350
# Recommended velocity: 1730