# PIN CONFLICT: mcu:e_sensor_pin is also used by motor_4 in motor_thermistors.cfg.
# Reassign one to a free analog pin before including this file.
[temperature_sensor water_temp]
sensor_pin: mcu:e_sensor_pin
sensor_type: ATC Semitec 104GT-2
gcode_id: water_temp
